<h1>
  Search Results
</h1>
<div class="row mb-5 justify-content-center">
  <!--<div class="col-md-8r">>-->
    <% @tracks.each_with_index do |a_track, the_index| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= a_track.album.images.at(-2).fetch("url") %>" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><%= a_track.name %></h6>
          <p class="card-text">by <%= a_track.artists.first.name %></p>
          <a href="#" class="card-link">Card link</a>
          <i class="far fa-heart"></i>
        </div>
      </div>
        
    <% end %>
  <!--</div>-->
</div>
