<h1>
  Search Results
</h1>
<% @tracks.each_with_index do |a_track, the_index| %>
  <div class="card p-1 m-2">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="<%= a_track.album.images.last.fetch("url") %>" class="img-fluid" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
          <h5 class="card-title"><%= a_track.name %></h5>
          <p class="card-text"><%= a_track.artists.first.name %></p>
        </div>
      </div>
    </div>
    <div class="card-footer w-100 text-muted">
      Footer Placeholder
    </div>
  </div>
<% end %>
